extends layout

block content
  link(rel="stylesheet", href="/pages/upload_img/upload_img.css")
  #upload_wrap
    .upload_head
      h1.title #{title}
      .step
        img(src='/images/create1.png')
        p.text Step 1
        p.text 填写基本信息
      .step
        img(src='/images/create2.png')
        p.text Step 2
        p.text 上传封面图片
      .step
        img(src='/images/create3.png')
        p.wait 活动等待审核
    .upload_main
      p.title 封面图片
      //- todo: 显示之前上传的封面
      form#cover-form(enctype='multipart/form-data')
        input.id(type='hidden',value='#{act_id}')
        input.button(type="button", value="选择图片")
        p.text 未选择任何图片
        input#cover-input(type='file' name='cover')
        image-cropper(input='#cover-input' preview='#cover-preview')
          include image-cropper
        #cover-preview
    button.next 下一步
  script(src='/pages/upload_img/upload_img.js')