link(rel='stylesheet' type='text/css' href='/image-cropper/image-cropper.css')

input(class='image-cropper-crop-x' type='text')
input(class='image-cropper-crop-y' type='text')
input(class='image-cropper-crop-width' type='text')
input(class='image-cropper-crop-height' type='text')
div(class='image-cropper-cropping')
  div(class='image-cropper-mask')
    div
      div(class='image-cropper-mask-center')
      div(class='image-cropper-mask-left')
      div(class='image-cropper-mask-top')
      div(class='image-cropper-mask-right')
      div(class='image-cropper-mask-bottom')

script(src='/image-cropper/image-cropper.js')
