doctype html
html
  head
    title= title
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/datetimepicker/jquery.datetimepicker.css')
    link(rel="stylesheet", href="/font-awesome/css/font-awesome.min.css")
    link(rel='stylesheet', href='/pages/layout/layout.css')
  body
    script(src="/jquery/jquery.min.js")
    script(src="/bootstrap/js/bootstrap.min.js")

    #header
      .wrap
        a(href="/")
          img.logo(src="/images/Activitee-logo-S.png", alt="logo")
        ul.nav
          li
            a.home(href="/home") 发现活动
          if user
            li
              a.host(href="/host") 我的活动
        
        unless user
          ul.nav.align-right
            li
              a(href="/signin") 登陆
            li
              a(href="/signup") 注册
          
        if user
          a(href='/create')
            .create.align-right
              .createhover 新建活动
          .profile
            img.avatar(src='/#{user.avatar}')
            p.username #{user.username}
            .profile-menu.hide
              ul
                li
                  a.setting(href="/setting") 设置
                li
                  a.signout(href="/s-signout") 退出
          

        .search
          form
            input.text(type="text")
            input.button(type="submit", value="")
        
        
    #content
      block content
    
    #footer
        p.copyright &copy; 2015 Activitee, all rights reserved
    script(src="/pages/layout/layout.js")
    script(type="application/javascript", src="http://localhost:35729/livereload.js")
    script(src="/datetimepicker/jquery.datetimepicker.js")
