extends layout

block content
  link(rel='stylesheet' type='text/css' href='/pages/signin/signin.css')

  div#signin-container
    form#signin-form
      label 用户名
      input(type='text' name='username')
      label 密码
      input(type='password' name='password')
      button(type='submit') 登录

  script(src='/pages/signin/signin.js')
