extends layout

block content
  link(rel='stylesheet' type='text/css' href='/pages/signup/signup.css')

  div#signup-container
    form#signup-form
      label 邮箱
      input(type='email' name='email' required)
      label 用户名
      input(type='text' name='username' required)
      label 密码
      input(type='password' name='password' required)
      button(type='submit') 注册

  script(src='/pages/signup/signup.js')
